<h1>Guest Reviews</h1>

<div class="review">
  <div class="avator">
    <img src="../../assets/img/jinja.jpg" />
  </div>

  <div class="content">
    <p class="name">Jane Doe</p>
    <p class="message">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae sequi
      laudantium saepe illo natus, eius ea similique cupiditate alias minima
      cumque cum dolore praesentium ipsum, quidem veniam laboriosam fuga quas.
    </p>
  </div>
</div>

<div class="review">
  <div class="avator">
    <img src="../../assets/img/jinja.jpg" />
  </div>

  <div class="content">
    <p class="name">Jane Doe</p>
    <p class="message">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae sequi
      laudantium saepe illo natus, eius ea similique cupiditate alias minima
      cumque cum dolore praesentium ipsum, quidem veniam laboriosam fuga quas.
    </p>
  </div>
</div>

<div class="review">
  <div class="avator">
    <img src="../../assets/img/jinja.jpg" />
  </div>

  <div class="content">
    <p class="name">Jane Doe</p>
    <p class="message">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae sequi
      laudantium saepe illo natus, eius ea similique cupiditate alias minima
      cumque cum dolore praesentium ipsum, quidem veniam laboriosam fuga quas.
    </p>
  </div>
</div>

<div class="review">
  <div class="avator">
    <img src="../../assets/img/jinja.jpg" />
  </div>

  <div class="content">
    <p class="name">Jane Doe</p>
    <p class="message">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae sequi
      laudantium saepe illo natus, eius ea similique cupiditate alias minima
      cumque cum dolore praesentium ipsum, quidem veniam laboriosam fuga quas.
    </p>
  </div>
</div>

<div class="review">
  <div class="avator">
    <img src="../../assets/img/jinja.jpg" />
  </div>

  <div class="content">
    <p class="name">Jane Doe</p>
    <p class="message">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae sequi
      laudantium saepe illo natus, eius ea similique cupiditate alias minima
      cumque cum dolore praesentium ipsum, quidem veniam laboriosam fuga quas.
    </p>
  </div>
</div>
