<h1>Reservations</h1>

<div class="reservations">
  <div class="table header">
    <p>Name</p>
    <p>Email</p>
    <p>Phone Number</p>
    <p>Room Type</p>
    <p>Check In</p>
    <p>Check Out</p>
    <p>Amount Paid</p>
    <p>Payment Type</p>
  </div>
  <div class="table body">
    <p>Paul Ngisiro</p>
    <p>jngisiro@gmail.com</p>
    <p>0778659493</p>
    <p>Double</p>
    <p>12-04-2020</p>
    <p>12-07-2020</p>
    <p>$1500</p>
    <p>Mastercard</p>
  </div>

  <div class="table body">
    <p>Paul Ngisiro</p>
    <p>jngisiro@gmail.com</p>
    <p>0778659493</p>
    <p>Double</p>
    <p>12-04-2020</p>
    <p>12-07-2020</p>
    <p>$1500</p>
    <p>Mastercard</p>
  </div>

  <div class="table body">
    <p>Paul Ngisiro</p>
    <p>jngisiro@gmail.com</p>
    <p>0778659493</p>
    <p>Double</p>
    <p>12-04-2020</p>
    <p>12-07-2020</p>
    <p>$1500</p>
    <p>Mastercard</p>
  </div>

  <div class="table body">
    <p>Paul Ngisiro</p>
    <p>jngisiro@gmail.com</p>
    <p>0778659493</p>
    <p>Double</p>
    <p>12-04-2020</p>
    <p>12-07-2020</p>
    <p>$1500</p>
    <p>Mastercard</p>
  </div>

  <div class="table body">
    <p>Paul Ngisiro</p>
    <p>jngisiro@gmail.com</p>
    <p>0778659493</p>
    <p>Double</p>
    <p>12-04-2020</p>
    <p>12-07-2020</p>
    <p>$1500</p>
    <p>Mastercard</p>
  </div>
</div>
