<main>
  <h1>Welcome to the Hotel Management Portal</h1>

  <p>
    Login to manage your hotel at hotels.ug or register your hotel to have it
    showcased
  </p>

  <div class="ctas">
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </div>
</main>

<section class="about">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore soluta saepe
    rerum similique aspernatur repudiandae fugit molestiae quam nihil pariatur
    officiis possimus maiores dicta, minima modi expedita doloremque iste fuga?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae error
    voluptatem perspiciatis facilis tempore molestiae provident! Ipsa non
    reiciendis animi aperiam qui! Dicta, maxime et. Tenetur, iste. Odio, quidem
    temporibus.
  </p>
</section>

<section class="services">
  <h2>What We Offer</h2>
  <div>
    <h3>Reservations</h3>
    <h3>Payments Collections</h3>
    <h3>Monitor Customers</h3>
  </div>
</section>
