<h3 class="title">Elsha Serviced Apartments | Account Summary</h3>

<section class="cover">
  <img src="../../assets/img/pearlofafrica.jpg" />
</section>
<section class="info">
  <div class="reservations">
    <h1>32</h1>
    <h4>Reservations</h4>
  </div>

  <div class="watchlist">
    <h1>102</h1>
    <h4>Watchlist</h4>
  </div>

  <div class="views">
    <h1>500</h1>
    <h4>Views</h4>
  </div>

  <div class="reviews">
    <h1>5</h1>
    <h4>Guest Reviews</h4>
  </div>
</section>

<div class="feed">
  <h3>Recent Reservations</h3>

  <div class="booking">
    <p class="name">John Doe</p>
    <p class="email">johndoe@email.com</p>
    <p class="contact">+256 778 568 893</p>
    <p class="roomType">Ordinary Room</p>
    <p class="checkIn">12 / 05 / 2020</p>
    <p class="checkOut">14 / 05 / 2020</p>
    <p class="amount">$350</p>
    <p class="method">PAYPAL</p>
  </div>

  <div class="booking">
    <p class="name">John Doe</p>
    <p class="email">johndoe@email.com</p>
    <p class="contact">+256 778 568 893</p>
    <p class="roomType">Deluxe Room</p>
    <p class="checkIn">12 / 05 / 2020</p>
    <p class="checkOut">14 / 05 / 2020</p>
    <p class="amount">$350</p>
    <p class="method">VISA</p>
  </div>

  <div class="booking">
    <p class="name">John Doe</p>
    <p class="email">johndoe@email.com</p>
    <p class="contact">+256 778 568 893</p>
    <p class="roomType">Ordinary Room</p>
    <p class="checkIn">12 / 05 / 2020</p>
    <p class="checkOut">14 / 05 / 2020</p>
    <p class="amount">$350</p>
    <p class="method">VISA</p>
  </div>

  <div class="booking">
    <p class="name">John Doe</p>
    <p class="email">johndoe@email.com</p>
    <p class="contact">+256 778 568 893</p>
    <p class="roomType">Double Room</p>
    <p class="checkIn">12 / 05 / 2020</p>
    <p class="checkOut">14 / 05 / 2020</p>
    <p class="amount">$350</p>
    <p class="method">MTN MOBILE MONEY</p>
  </div>

  <div class="booking">
    <p class="name">John Doe</p>
    <p class="email">johndoe@email.com</p>
    <p class="contact">+256 778 568 893</p>
    <p class="roomType">Double Room</p>
    <p class="checkIn">12 / 05 / 2020</p>
    <p class="checkOut">14 / 05 / 2020</p>
    <p class="amount">$350</p>
    <p class="method">MASTERCARD</p>
  </div>
</div>

<section class="feed">
  <h3>Recent Reviews</h3>

  <div class="review">
    <div class="avator">
      <img src="../../assets/img/jinja.jpg" />
    </div>

    <div class="content">
      <p class="name">Jane Doe</p>
      <p class="message">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
        sequi laudantium saepe illo natus, eius ea similique cupiditate alias
        minima cumque cum dolore praesentium ipsum, quidem veniam laboriosam
        fuga quas.
      </p>
    </div>
  </div>

  <div class="review">
    <div class="avator">
      <img src="../../assets/img/jinja.jpg" />
    </div>

    <div class="content">
      <p class="name">Jane Doe</p>
      <p class="message">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
        sequi laudantium saepe illo natus, eius ea similique cupiditate alias
        minima cumque cum dolore praesentium ipsum, quidem veniam laboriosam
        fuga quas.
      </p>
    </div>
  </div>

  <div class="review">
    <div class="avator">
      <img src="../../assets/img/jinja.jpg" />
    </div>

    <div class="content">
      <p class="name">Jane Doe</p>
      <p class="message">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
        sequi laudantium saepe illo natus, eius ea similique cupiditate alias
        minima cumque cum dolore praesentium ipsum, quidem veniam laboriosam
        fuga quas.
      </p>
    </div>
  </div>

  <div class="review">
    <div class="avator">
      <img src="../../assets/img/jinja.jpg" />
    </div>

    <div class="content">
      <p class="name">Jane Doe</p>
      <p class="message">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
        sequi laudantium saepe illo natus, eius ea similique cupiditate alias
        minima cumque cum dolore praesentium ipsum, quidem veniam laboriosam
        fuga quas.
      </p>
    </div>
  </div>
</section>
